@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.guess1 {
	padding: 20px;
	border: 1px solid black;
	width: 350px;
	background-color: green;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.letter {
	border: 1px solid red;
	width: 10px;
	flex-grow: 1;
	font-family: Roboto;
	font-size: 1.2rem;
	text-align: center;
	margin: 0;
	padding: 0;
}
